table {
    width: 70%;
    margin: 20rem auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #e0e0e0;
}

.check {
    background-color: green;
}

.counter {
    width: 3rem;
}